<style type="text/css">

    .comment-wrapper .panel-body {
        max-height:650px;
        overflow:auto;
    }

    .comment-wrapper .media-list .media img {
        height:64px;
        border:2px solid #e5e7e8;
        border-radius: 50%;
        margin-right: 20px;
    }

    .comment-wrapper .media-list .media {
        border-bottom:1px dashed #efefef;
        margin-top:25px;
        margin-right: 10px;
        padding-left: 0;
    }

    ul {
        padding-inline-start: 20px;
    }

</style>


<div class="row bootstrap snippets container" style="margin-top: 10px;">
    <div class="col-md-12 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="card-title">
                        Comments
                    </h4>
                </div>
                <div class="panel-body">
                    <form method="post">{% csrf_token %}
                    <textarea class="form-control" name="comment" placeholder="Write a comment..." rows="3"></textarea>
                    <br>
                    <button type="submit" name="comment_posted" class="btn btn-info pull-right">Post</button>
                    <div class="clearfix"></div>
                    </form>
                    <hr>
                    {% if comments %}
                    <ul class="media-list">
                        {% for comment in comments %}
                            {% include 'comment/single_comment_snippet.html' with comment=comment %}
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>There are no comments yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>